*.a
*.o
release/
.DS_Store
platform/vizify-ios-test/vizify-ios-test.xcodeproj/project.xcworkspace/xcshareddata/
platform/vizify-ios-test/vizify-ios-test.xcodeproj/project.xcworkspace/xcuserdata/*
platform/vizify-ios-test/vizify-ios-test.xcodeproj/xcuserdata/*
sandbox/viz/
