<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/dev/main.css">
  </head>
  <body>
    <form id="holder">
      <div id="scrubber"><div></div></div>
      <label>
        Current timestamp:
        <input id="timestamp" name="t" readonly>
      </label>

      <label>Local Data Files:
        <select name="datafile" id="datafile">
        </select>
      </label>

        <input type="submit" value="Save">
    </form>
    <label>
        Add a local data file:
        <br/>
        <input type="file" id="datafile">
    </label>

    <script src="/dev/vztouch.js"></script>
    <script src="vizify.js"></script>
    <script src="card.js"></script>
    <script src="show.js"></script>
  </body>
</html>
