<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/dev/main.css">
  </head>
  <body>
    <form id="holder">
      <div id="scrubber"><div></div></div>
      <label id="playpause">Pause</label>
      <label>
        Current timestamp:
        <input id="timestamp" name="t" readonly>
      </label>

      <div id="uselocalfile">
          <label id="uselocalfile">Use Local Data File:
            <select name="datafile" id="datafile">
            </select>
          </label>
          <br>
          <label for="filechooser" class="custom-file-chooser">Add data file
          </label>
          <input type="file" id="filechooser">
          <label id="clear-files">Clear data files</label>

      </div>

      <input type="submit" value="Save">
    </form>

    <script src="/dev/vztouch.js"></script>
    <script src="vizify.js"></script>
    <script src="card.js"></script>
    <script src="show.js"></script>
  </body>
</html>
