html {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

body {
    margin: 0;
    font-size: 12pt;
    background-color: #eee;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#card-container {
  margin: 10px;
  border: 1px solid black;
}

#card-container canvas {
    background-color: #fff;
}

#card-player {
  display: inline-block;
  position: relative;
  padding: 20px;
}

#scrubber {
  background-color: silver;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}

#scrubber div {
  background-color: gray;
  height: 100%;
  width: 100%;
  transform-origin: left;
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -ms-transform-origin: left;
    margin-top: -18px;
}

#timestamp {
    color: #fff;
    position: relative;
    z-index: 10;
    top: 5px;
    left: 5px;
    margin: auto;
    text-align: center;
}

label input {
  font-size: 12pt;
  padding: 4px 6px;
  border: none;
  width: 220px;
}

button, input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  display: block;
  padding: 6px 10px;
  border: none;
  background-color: #ccdeff;
  color: #000;
  border-bottom: 1px solid black;
  border-radius: 6px;
  font-size: 12pt;
  margin: 20px auto;
  outline: none;
  cursor: pointer;
}

#playpause {
    display: inline-block;
    width: 80px;
    margin-right: 10px;
}

#savetimestamp {
    display: inline-block;
}

#datafile {
    font-size: 12pt;
    margin-left: 10px;
}

button.save {
    position: absolute;
    left: 10px;
    top: 480px;
}

.datasource {
  font-size: 12pt;
}

/* Virgil Editor */
#virgil-editor {
    margin-top: 20px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}

#codemirror {
    display: inline-block;
}

.CodeMirror {
    width: 700px;
    height: 500px;
}
#virgil-console {
    max-width: 848px;
    overflow: scroll;
    width: 100%;
    height: 200px;
    background-color: #fff;
    color: #000;
}

.file-list {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    background-color: #ccdeff;
    width: 150px;
    height: 450px;
    padding: 0;
}
.file-list h1 {
    background-color: #000000;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 12pt;
    padding: 5px 10px;
}

.file-entry {
    cursor: pointer;
    display: block;
}
.file-entry.selected {
    cursor: pointer;
    display: block;
    background-color: #000;
    color: #fff;
}
